<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Information</title>
</head>
<body>
<h1>Country Information</h1>
<form method="post">
    {% csrf_token %}
    Country Code : <input type="text" name="code" value="{{code}}" required/>
    <input type="submit" value="Details"/>
</form>

<p></p>
{% if country %}
<table>
    <tr>
        <td>Name</td>
        <td>{{country.name}}</td>
    </tr>
    <tr>
        <td>Capital</td>
        <td>{{country.capital}}</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>{{country.population}}</td>
    </tr>
    <tr>
        <td>Region</td>
        <td>{{country.region}}</td>
    </tr>
    <tr>
        <td>Flag</td>
        <td><img src="{{country.flag}}" width="200px"  height="200px" /></td>
    </tr>
</table>
{% else %}
<h3>{{message}} </h3>
{% endif %}

</body>
</html>