<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <style>
        h1 {color:blue;font-family:arial;}
        body { font-family:verdana;font-size:12pt}
        .header {background-color:red;color:white; font-weight:bold}
    </style>
</head>
<body>
<h1>Countries</h1>

{% if countries %}
<table style="width:100%"  border="1">
    <tr class="header">
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
    </tr>
    {% for c in countries %}
       <tr>
           <td> {{c.name}}</td>
           <td> {{c.capital}}</td>
           <td> {{c.population}}</td>
       </tr>
    {% endfor %}
</table>
{% else %}
    <h3> {{message}} </h3>
{% endif %}
</body>
</html>